<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="description" content="SHANTI at the University of Virginia - Sciences, Humanities and Arts Network of Technological Initiatives: SHANTI promotes innovation in the humanities, social sciences and arts at the University of Virginia through supporting the application of advanced technologies in research, teaching, publication and engagement across the entire community." />
	<meta name="keywords" content="SHANTI at the University of Virginia - Sciences, Humanities and Arts Network of Technological Initiatives" />
	<title><%= head_title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag(*(stylesheet_files + [:media => 'all'])) %>
<%= javascript_include_tag(*javascript_files) %>
<%= csrf_meta_tags %>
<%= render :partial => 'common/admin_grid_includes' if @uses_admin_grid %>
<%  if @current_style == :home -%>
    <script type="text/javascript">
	jQuery(document).ready(function() {
		// initialize carousel
        jQuery('#homepage_carousel').jcarousel({ scroll: 1, auto: 25 });
		// load news items
		loadLatestNews('#news-list','/wordpress/?feed=rss2',5);
	});
    </script>
<%  end -%>
<%  if @current_style == :details -%>
      <script type="text/javascript" src="/javascripts/profile-detail-view.js"></script>
<%=   render :partial => 'common/profile_includes' %>
<% 	  unless @tiny_mce_editor_disable or !@tiny_mce_editor_disable.nil? -%>
<%=     render :partial => 'common/editor_includes' %>
<%    end -%>
<%  end -%>
<%  if @relation_browser_enabled -%>  <%# if @current_style == :home -%>
<%=   render :partial => '/layouts/rb_header' %>
<% 	end -%>
<script type="text/javascript">
$(function(){
    $("ul.login-menu li").hover(function(){
        $(this).addClass("hover");
        $('ul:first',this).css('visibility', 'visible');
    }, function(){
        $(this).removeClass("hover");
        $('ul:first',this).css('visibility', 'hidden');
    });
});	
</script>
    <link href="/images/favicon.ico" rel="icon" />
    <link href="/images/favicon.ico" rel="shortcut icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body<%= " class=\"#{body_class}\"" if !body_class.nil? %><%= " id=\"#{body_id}\"" if !body_id.nil? %>>
  <!--[if ie]><div id="ie-root"><![endif]--><!--[if ie 8]><div id="ie-root-8"><![endif]--><!--[if ie 7]><div id="ie-root-7"><![endif]--><!--[if gte ie 7]><div id="ie-root-gte7"><![endif]--><!--[if lte ie 7]><div id="ie-root-lte7"><![endif]--><!--[if lte ie 6]><div id="ie-root-lte6"><![endif]--> 
	<script type="text/javascript">
		jQuery(function($) {
			$("#uvaprofiles-search-wrap input#s").attr("value", "Search UVa Profiles");
			var searchBoxes = $(".text");
			var searchBox = $("input#s");
		    var searchButton = $("input#submit");
			var searchBoxDefault = "Search UVa Profiles";
		    searchButton.hover(function () {
		      $(this).addClass("hover-on");},
		      function () {
		        $(this).removeClass("hover-on");
		      });
			searchBoxes.focus(function(e){
				$(this).addClass("active");
			});
			searchBoxes.blur(function(e){
				$(this).removeClass("active");
			});
			searchBox.focus(function(){
				if($(this).attr("value") == searchBoxDefault) $(this).attr("value", "");
			});
			searchBox.blur(function(){
				if($(this).attr("value") == "") $(this).attr("value", searchBoxDefault);
			});
		});
	</script>
<% unless params[:inline] %> <!-- when it's a normal window and will not display for floating window -->
<div id="login-status">
<%= login_status %>&nbsp;&nbsp;&nbsp;
<%= language_option_links %>
</div>
  <div id="masthead-wrapper">
  <% if defined?(SHANTI_KMAPS_APP) %>
	<div id="masthead" class="kmaps-app">
		<div id="banner-subtext">
		<a href="http://shanti.virginia.edu" title="link to SHANTI">Hosted by SHANTI at UVa</a>
		</div>
  <% else %>
	<div id="masthead">
  <% end -%>
		<h1 id="logo"><a href="/"><%= banner_title %></a></h1>
	</div><!--END MASTHEAD-->
  </div><!--END MASTHEAD-WRAPPER-->
<% end -%><!--END UNLESS params[:inline]  So the rest of the header and navigation will not show for floating window -->
<!-- MAIN-WRAPPER -->
<div id="main-content-wrapper">
  <div id="main">