<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="description" content="SHANTI at the University of Virginia - Sciences, Humanities and Arts Network of Technological Initiatives: SHANTI promotes innovation in the humanities, social sciences and arts at the University of Virginia through supporting the application of advanced technologies in research, teaching, publication and engagement across the entire community." />

	<meta name="keywords" content="SHANTI at the University of Virginia - Sciences, Humanities and Arts Network of Technological Initiatives" />

<%  if @current_style == :home -%>
	  <title><%= site_title(:html=>false) %></title>
<%  else -%>
<%    if page_title == '' %>
        <title><%= site_title(:html=>false) %></title>
<%    else -%>
	    <title><%= site_title(:html=>false) %> - <%= page_title %></title>
<%    end -%>
<%  end -%>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag(stylesheet_files, :media => 'all') %>
<%= javascript_include_tag(javascript_files) %>
<%= csrf_meta_tags %>
<% @nav_enabled = true %>

<%= render :partial => 'common/admin_grid_includes' if @uses_admin_grid %>
<%  if defined?(SOLR_URL) %>
<%#=   render :partial => 'layouts/search_script' %>
<%  end -%>

<%  if @login_enabled -%>
<%    unless flash[:notice] and logged_in? -%>
     
<%    end -%>
<% 	end -%>


<%  if @current_style == :home -%>
    <script type="text/javascript">
	jQuery(document).ready(function() {
		// initialize carousel
        jQuery('#homepage_carousel').jcarousel({ scroll: 1, auto: 25 });
		// load news items
		loadLatestNews('#news-list','/wordpress/?feed=rss2',5);
	});
    </script>
<%  end -%>


<%  if @current_style == :details -%>
      <script type="text/javascript" src="/javascripts/profile-detail-view.js"></script>
<%=   render :partial => 'common/profile_includes' %>

<% 	  unless @tiny_mce_editor_disable or !@tiny_mce_editor_disable.nil? -%>
<%=     render :partial => 'common/editor_includes' %>
<%    end -%>
<%  end -%>

<%  if @relation_browser_enabled -%>  <%# if @current_style == :home -%>
<%=   render :partial => '/layouts/rb_header' %>
<% 	end -%>
<script type="text/javascript">
$(function(){

    $("ul.login-menu li").hover(function(){
    
        $(this).addClass("hover");
        $('ul:first',this).css('visibility', 'visible');
    
    }, function(){
    
        $(this).removeClass("hover");
        $('ul:first',this).css('visibility', 'hidden');
    
    });
});	
</script>


    <link href="/images/favicon.ico" rel="icon" />
    <link href="/images/favicon.ico" rel="shortcut icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<% if @current_style == :gallery -%>
  <body id="interior" class="gallery" >
<% elsif @current_style == :details -%>
  <body id="interior" class="details" >
<% elsif @current_style == :showview -%>
  <body id="interior" class="details" >	
<% else -%>
  <body id="home">
<% end -%>

  <!--[if ie]><div id="ie-root"><![endif]--><!--[if ie 8]><div id="ie-root-8"><![endif]--><!--[if ie 7]><div id="ie-root-7"><![endif]--><!--[if gte ie 7]><div id="ie-root-gte7"><![endif]--><!--[if lte ie 7]><div id="ie-root-lte7"><![endif]--><!--[if lte ie 6]><div id="ie-root-lte6"><![endif]--> 

	<script type="text/javascript">
		jQuery(function($) {
			$("#uvaprofiles-search-wrap input#s").attr("value", "Search UVa Profiles");

			var searchBoxes = $(".text");
			var searchBox = $("input#s");
		        var searchButton = $("input#submit");
			var searchBoxDefault = "Search UVa Profiles";

		        searchButton.hover(function () {
		              $(this).addClass("hover-on");},
		         function () {
		              $(this).removeClass("hover-on");
		        });

			searchBoxes.focus(function(e){
				$(this).addClass("active");
			});
			searchBoxes.blur(function(e){
				$(this).removeClass("active");
			});

			searchBox.focus(function(){
				if($(this).attr("value") == searchBoxDefault) $(this).attr("value", "");
			});
			searchBox.blur(function(){
				if($(this).attr("value") == "") $(this).attr("value", searchBoxDefault);
			});
		});
	</script>
	
<% unless params[:inline] %> <!-- when it's a normal window and will not display for floating window -->

<!--<%# if @login_enabled -%>  <%# unless params[:inline] %>
  	 <div id="login-wrapper">
	   <div id="login">
		 <div class="entry">
			
		 </div>
<%# 		 if logged_in? -%>
<%#= 	   render :partial => '/common/login' %>
<%# 		 end -%>
  	   </div>
  	 </div>
<%# end -%>-->

  <div id="masthead-wrapper">
  <% if defined?(SHANTI_KMAPS_APP) %>
	<div id="masthead" class="kmaps-app">
  <% else %>
	<div id="masthead">
  <% end -%>

		
		<h1 id="logo"><a href="/"><%= banner_title %></a></h1>
		
	</div><!--END MASTHEAD-->
  </div><!--END MASTHEAD-WRAPPER-->

<% if @nav_enabled -%>
    <div id="nav-wrapper">
	  <div id="nav">
		<%= render :partial => 'layouts/main_nav' %>

	    <% if APPLICATION_DOMAIN == 'shanti.virginia.edu' and @current_nav_item != :home -%>
		  <div id="uvaprofiles-search-wrap">
			<% if defined?(SOLR_URL) %>
				<p><%#= link_to 'Advanced Search', search_path, :id => 'advanced-search', :title => 'Advanced Search'%></p>
				<%=  render :partial => 'layouts/search' %>
		  	<% end -%>
		  </div>
	    <% end -%>	  

	  </div><!--END NAV-->	
    </div><!--END NAV-WRAPPER-->



  <% if APPLICATION_DOMAIN == 'shanti.virginia.edu' and @current_nav_item != :home -%>
    <div id="sub-nav-wrapper">
	  <div id="sub-nav">
		<%= render :partial => 'layouts/secondary_nav' %>
		
		<div id="profiles-login-wrap">
		  <ul class="login-menu">
		    <li class="login-last"><a id="uvaprofiles-register" href="/signup_openid">Non-UVa Registration</a></li>
			<% if logged_in? -%>
			  <li class="submenu-logout"><%= link_to 'Logout', logout_path %></li>
			<% else %>
			  <li class="submenu"><a href="#">LOGIN: UVa Profiles</a>
			    <ul>	
				  <% if defined?(FATHOM_AUTHENTICATION) %>
				  
					<%# if logged_in? -%>
						<%#= render :partial => '/common/login' %> 
						
					<%# else -%>   
		          		<% if defined?(SSL_ENABLED) %>
							<%=   render :partial => 'layouts/ssl_login' %>
				  		<% end %>
						<li class="login-submenu-last"><%= link_to 'Non-UVa Login', login_page_path, :id => 'uvaprofiles-login', :class => 'log-in', :title => 'login link for non-uva people'%>
				    	</li>	
					<%# end -%>
				  <% end -%> <!-- if defined?(FATHOM_AUTHENTICATION)-->
			    </ul>	
			  </li>
			<% end -%>
			<% if logged_in? -%>
				<%= render :partial => '/common/login' %>
			<% end -%>
		    
		  </ul><!-- login-menu -->
		</div> <!-- profiles-login-wrap -->
		
	  </div><!--END SECONDARY-NAV-->
    </div><!--END SECONDARY-NAV-WRAPPER-->
  <% end -%>
<% end -%>

<% end -%><!--END UNLESS params[:inline]  So the rest of the header and navigation will not show for floating window -->

<!-- MAIN-WRAPPER -->
<% if @relation_browser_enabled -%>
	<div id="flash-wrapper">	
		<%= yield %>
	</div><!--END FLASH-WRAPPER-->
<% else -%>
	<div id="main-content-wrapper">
	  <% if !defined?(FATHOM_AUTHENTICATION) %>
		<div id="main">
		 <%= login_status_links -%>
		  <div id="div_flash-notice"><p style="color: green"><%= flash[:notice] %></p></div>
	  <% end -%>
	  <%= yield %>
	  <% if !defined?(FATHOM_AUTHENTICATION) %>  
	    </div> <!-- end main -->
	  <% end -%>
	</div><!--END MAIN-WRAPPER-->
<% end -%>

<!-- FOOTER -->
<%= render(:partial => '/layouts/footer') unless params[:inline] %>

<!-- <%= `hostname` %> -->

<!--[if ie]></div><![endif]-->

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-12330971-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	
  </body>
</html>
